$color-primary-0: #65049A;	// Main Primary color */
$color-primary-1: #8F27C9;
$color-primary-2: #8606CD;
$color-primary-3: #51037C;
$color-primary-4: #3D025E;
$rgba-primary-0: rgba(101,  4,154,1);	// Main Primary color */
$rgba-primary-1: rgba(143, 39,201,1);
$rgba-primary-2: rgba(134,  6,205,1);
$rgba-primary-3: rgba( 81,  3,124,1);
$rgba-primary-4: rgba( 61,  2, 94,1);
