<table class="table table-striped">
    <thead>
        <tr>
            <td>Rank</td>
            <td>Username</td>
            <td>Bytes</td>
            <td>Date Joined</td>
        </tr>
    </thead>
    <tbody ng-repeat="(i,item) in ctrl.leaders">
        <tr>
            <td>{{i+1}}</td>
            <td>{{item.username}}</td>
            <td>{{item.bytes}}</td>
            <td>{{item.dateJoined||"TDB"}}</td>
            
        </tr>
    </tbody>
</table>
<div ng-show="!ctrl.leaders||ctrl.leaders.length<1">Still loading...</div>