body {
  background-color:#202020;
  color:#fff;
}
.navbar,.navbar-default .navbar-nav>li>a {
  background-color: #8F27C9 ;
  color: #FFF !important; 
  border:none;
}
* .btn {
  background-color: #8F27C9 !important;
  border:none;
}
input[type=text],input[type=number],input[type=password]{
  color:#606060;
}
.table-striped tbody :nth-child(even){
  background-color:#202020 !important;
}
.table-striped tbody :nth-child(odd){
  background-color:#404040 !important;
}
