<!-- ctrl.signedIn() -->
<ul class="nav navbar-nav">
	<li><a ui-sref="leaderboard">Leaderboard</a></li>
	<li><a ui-sref="byte" ng-show="!ctrl.isLinked()&&ctrl.signedIn()">Byte Actions</a></li>
	<li><a ui-sref="suggestions">Suggest something</a></li>
	<li><a ui-sref="linkAccount" ng-show="!ctrl.isLinked()&&ctrl.signedIn()">Link Accounts</a></li>	
</ul>
<div class="container">
	<ul class="nav navbar-nav navbar-right">
		<li ng-show="ctrl.signedIn()">
			<a href="#" ng-click="ctrl.logout()">Sign out- {{ctrl.user().username}}</a>
		</li>
		<li ng-show="!ctrl.signedIn()">
			<a ui-sref="signin">Sign In</a>
		</li>
	</ul>
</div>